<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.spring01.mapper.AdminMapper">

    <select id="selectAll" resultType="com.atguigu.spring01.entity.Admin">
        select * from `admin`
        <where>
            <if test="username != null and username != ''" > username like concat('%',#{username},'%')</if>
            <if test="name != null and username != ''"> and name like concat('%',#{name},'%')</if>
            <if test="email != null and username != ''"> and email like concat('%',#{email},'%')</if>
                 <if test="ids !=null and ids != ''">
                     and id in
                 <foreach collection="idsArr" item="id" open="(" separator="," close=")">
                     #{id}
                 </foreach>
                 </if>
        </where>
                 order by id asc
    </select>
    <select id="selectPage" resultType="com.atguigu.spring01.entity.Admin">
    </select>

    <insert id="insert" >
    insert into `admin` (username,password,name,phone,email,avatar)
    values (#{username},#{password},#{name},#{phone},#{email},#{avatar})
    </insert>

    <update id="updateById">
        update admin set username=#{username},password=#{password},name=#{name},
                         phone=#{phone},email=#{email},avatar=#{avatar}
                     where id=#{id}
    </update>
</mapper>

