<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.spring01.mapper.BookMapper">

    <select id="selectAll" resultType="com.atguigu.spring01.entity.Book">
        select * from `book`
        <where>
            <if test="name != null and name != ''"> and name like concat('%',#{name},'%')</if>
        </where>
        order by id asc
    </select>
    <insert id="insert" >
        insert into `book` (img,name,price,author,num)
        values (#{img},#{name},#{price},#{author},#{num})
    </insert>

    <update id="updateById">
        update book set img=#{img},name=#{name},price=#{price},author=#{author},num=#{num}
                      where id=#{id}
    </update>
</mapper>

