<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.spring01.mapper.RecordMapper">

    <select id="selectAll" resultType="com.atguigu.spring01.entity.Record">
        select record.*,book.name as bookName,book.author as bookAuthor,user.name as userName , book.img as bookImg from `record`
                 left join book on book.id = record.book_id
                 left join user on user.id = record.user_id
                                                                                                                    <!--        <where>-->
<!--            <if test="name != null and name != ''"> and name like concat('%',#{name},'%')</if>-->
<!--        </where>-->
        order by id asc
    </select>
    <insert id="insert" >
        insert into `record` (user_id,book_id,status,reason,time)
        values (#{userId},#{bookId},#{status},#{reason},#{time})
    </insert>

    <update id="updateById">
        update record set user_id=#{userId},book_id=#{bookId},status=#{status},reason=#{reason},time=#{time}
                      where id=#{id}
    </update>
</mapper>

